# Supabase
NEXT_PUBLIC_SUPABASE_URL= postgresql://postgres:ab671ot_memas@db.kyuundavezkytclqxtjk.supabase.co:5432/postgres
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5dXVuZGF2ZXpreXRjbHF4dGprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNzQwNTMsImV4cCI6MjA4ODk1MDA1M30.n5-FVLhwWp-3jqa5cdAyGoBB9qfyJAV98KuAgSY48VY
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5dXVuZGF2ZXpreXRjbHF4dGprIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM3NDA1MywiZXhwIjoyMDg4OTUwMDUzfQ.b7gN5ztEaS_YFJhyAqGMiR-r39l60L-iZWqaAzaPNu4

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Resend
RESEND_API_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
